*.egg-info
*.pyc
*.swp
*~
.tox
.version
/venv
.mypy_cache/
build/
debian/*.debhelper
debian/*.log
debian/changelog
debian/files
debian/ocf-create
debian/ocf-create.substvars
debian/substvars
dist/
ocf-ircbot.conf
