[encryption]
key=

[redis]
uri=

[mysql]
uri=
password=

[kerberos]
keytab=
principal=

[celery]
broker=
backend=

[rt]
password=

[nickserv]
password=

[rackspace]
apikey=

[weather_underground]
apikey=

[marathon]
user=
password=

[googlesearch]
key=
cx=

[discourse]
apikey=

[twitter]
apikey=
apisecret=
