aspy.yaml==1.2.0
atomicwrites==1.3.0
cfgv==1.6.0
identify==1.4.1
importlib-resources==1.0.2
mypy==0.701
nodeenv==1.3.3
pathlib2==2.3.3
pluggy==0.9.0
pre-commit==1.15.2
py==1.8.0
pytest==4.4.1
requirements-tools==1.2.1
setuptools==41.0.1
toml==0.10.0
virtualenv==16.4.3
