amqp<6
attrs==20.3.0
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.7
certifi==2023.5.7
cffi==1.14.5
chardet==3.0.4
ckuehl-upsidedown==0.4
click<9
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cracklib==2.9.3
cryptography
Deprecated==1.2.11
dnspython==2.1.0
Flask==2.2.5
github3.py==2.0.0
idna==2.10
importlib-metadata==3.7.0
irc==19.0.1
itsdangerous==2.0
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.2.1
jaraco.logging==3.1.0
jaraco.stream==3.0.0
jaraco.text==3.5.0
Jinja2==3.0
jwcrypto==1.4
kombu==5.2.4
ldap3==2.9
markovify==0.9.0
MarkupSafe==2.1.1
more-itertools==8.7.0
ocflib
pexpect==4.8.0
ply==3.11
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pyasn1==0.4.8
pycparser==2.20
pycryptodome
pycryptodomex
PyGithub==1.58.2
PyJWT==2.4.0
PyMySQL==0.9.3
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.1
pytz
PyYAML==5.4.1
redis==4.4.4
requests
six==1.16.0
SQLAlchemy<2
tempora==4.0.1
tld==0.12.5
typing-extensions==4.5.0
Unidecode==1.2.0
uritemplate==3.0.1
urllib3
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.12.1
xkcd==2.4.2
zipp==3.4.0
